<div class="card padded">
  <h4>Form Builder</h4>
  <form *ngIf="customBuiltForm" [formGroup]="customBuiltForm">
    <div *ngFor="let group of customBuiltForm.controls; let i = index" [formGroupName]="i">
      <div class="question-block padded">
        <app-question-base [index]="i" [formGroup]="group"></app-question-base>
      </div>
      <div *ngIf="hasSubInputs(group)">
        <app-sub-inputs [subInputs]="getSubInputs(group)"></app-sub-inputs>
      </div>
    </div>
  </form>
</div>
<div class="row padded">
  <button class="spaced btn btn-secondary" (click)="addInput()">Add Input</button>
  <button class="spaced btn btn-primary" (click)="createForm()">Create Form</button>
</div>
