<div class="question-block padded" [formGroup]="formGroup">
  <div class="form-group">
    <div class="inline-block col-md-8">
      <label for="ConditionTypeId">Condition</label>
      <select name="ConditionTypeId" class="form-control" formControlName="ConditionTypeId">
        <option *ngFor="let conditionType of conditionTypes" [ngValue]="conditionType.Id">
          {{conditionType.Name}}</option>
      </select>
    </div>
    <div class="inline-block col-md-4" [ngSwitch]="parentQuestionTypeId">
      <input *ngSwitchCase="questionTypesEnum.Text" class="form-control" type="text" formControlName="ConditionValue">
      <select *ngSwitchCase="questionTypesEnum.YesNo" class="form-control" formControlName="ConditionValue">
        <option [ngValue]="1">Yes</option>
        <option [ngValue]="0">No</option>
      </select>
      <input *ngSwitchCase="questionTypesEnum.Number" class="form-control" type="number"
        formControlName="ConditionValue">
    </div>
  </div>
  <app-question-base [formGroup]="formGroup" [index]="index"></app-question-base>
</div>
